@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 180 67% 93%;
    --foreground: 224 71% 4%;
    --card: 180 67% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 180 67% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 180 60% 47%;
    --primary-foreground: 180 60% 97%;
    --secondary: 180 20% 80%;
    --secondary-foreground: 224 71% 4%;
    --muted: 180 20% 85%;
    --muted-foreground: 224 71% 15%;
    --accent: 84 100% 50%;
    --accent-foreground: 84 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 80%;
    --input: 180 20% 95%;
    --ring: 180 60% 47%;
    --chart-1: 180 60% 47%;
    --chart-2: 84 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 180 60% 47%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 180 67% 93%;
    --sidebar-accent-foreground: 180 60% 30%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 180 60% 47%;
  }
  .dark {
    --background: 180 15% 10%;
    --foreground: 180 10% 90%;
    --card: 180 15% 15%;
    --card-foreground: 180 10% 90%;
    --popover: 180 15% 15%;
    --popover-foreground: 180 10% 90%;
    --primary: 180 60% 47%;
    --primary-foreground: 180 60% 97%;
    --secondary: 180 15% 25%;
    --secondary-foreground: 180 10% 90%;
    --muted: 180 15% 25%;
    --muted-foreground: 180 10% 60%;
    --accent: 84 100% 50%;
    --accent-foreground: 84 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 15% 30%;
    --input: 180 15% 30%;
    --ring: 180 60% 47%;
    --sidebar-background: 180 15% 5%;
    --sidebar-foreground: 180 10% 90%;
    --sidebar-primary: 180 60% 47%;
    --sidebar-primary-foreground: 180 60% 97%;
    --sidebar-accent: 180 15% 15%;
    --sidebar-accent-foreground: 180 10% 90%;
    --sidebar-border: 180 15% 20%;
    --sidebar-ring: 180 60% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
